// Specific CSS for your home-page
#main_section_one {
  opacity: 0.9;
  text-align:center;
  font-family: 'IBM Plex Sans', sans-serif;
  h1 {
    text-shadow: 4px 4px 4px #DCDCDC;
    padding-top:30px;
    padding-bottom: 30px;
    color:#191970;
    font-family: 'Oswald', sans-serif;
  }
  h3 {
    font-family: 'Yusei Magic', sans-serif;
    color:#4169E1;
    text-shadow: 4px 4px 4px #DCDCDC;
  }
  h4 {
    font-family: 'Playfair Display', serif;
    margin-top:15px;
  }
  img {
    border-radius: 20%;
    box-shadow:4px 4px 4px 4px #DCDCDC;
    width:400px;
  }
  margin-bottom:40px;
}

#main_section_two {
  text-align: center;
  color:#FFFAF0;
  text-shadow: 3px 3px 3px black  ;
  padding-top: 170px;
  font-family: $body-font;
  background-image: url('https://res.cloudinary.com/ds2odybte/image/upload/v1607078914/best_of_NF_jaepxi.jpg');
  height:700px;
  margin-bottom:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: 3px 3px 3px gray;
  border-radius: 10%;
  margin-top:40px;
}

#our_message {
  margin-top:60px;
  margin-bottom:50px;
  h2 {
   font-family: 'IBM Plex Sans', sans-serif;
   color:#4169E1;
   text-shadow: 4px 4px 4px #DCDCDC;
  }
  p {
   font-family: 'Dancing Script', cursive;
   font-size:24px;
  }
}

#moviesBtn {
  width:150px;
  font-size:1.3em;
  border-radius: 25%;
  box-shadow: 2px 2px 2px gray;
  margin-top:25px;
  font-family: 'Playfair Display', serif;
  margin-bottom:30px;
}

#main_section_three {
  text-align: center;
  color:#FFFAF0;
  padding-top: 20px;
  font-family: $body-font;
  margin-bottom:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
