// Import page-specific CSS files here.
@import "home";
@import "top";

.centered_item {
  display:block;
  margin-right:auto;
  margin-left:auto;
  width:60%
}

#stars {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;
}
