// Import page-specific CSS files here.
@import "home";
@import "top";

.centered_item {
  display:flex;
  margin-right:auto;
  margin-left:auto;
  width:60%;
  align-items:center;
  justify-content: space-around;
  flex-wrap:wrap;
  a {
    margin-top:15px;
  }
}

