<div class='cards'>
  <% @movies.each do |movie| %>
   <div class="card-category">
      <h2><%= movie.title %></h2>
      <h4><b><%= "#{movie.year}" %></b></h4>
      <%= image_tag movie.photo %>
      <%= link_to 'Details', movie_path(movie.id), id:'det_link' %>
   </div>
  <% end %>
</div>
