<div class='container'>
  <h2><strong>Top Movies</strong></h2>
  <hr size=10 color=gray>
  <div id='top-list'>
    <ol>
      <% @movies.sort {|a,b| b.imdb_score <=> a.imdb_score}.first(5).each do |movie|  %>
      <li>
        <%= "#{movie.title} (#{movie.year}) -- Rating: #{movie.imdb_score} "%><%= link_to ' 👉   ', movie_path(movie) %></li>
        <%= image_tag movie.photo, class:'img_top'%>
      <hr size='6' color='#ADD8E6'>
      <% end %>
    </ol>
  </div>
</div>
