<div class='container'>
  <h2 style='text-align: center;'><strong>Top Movies</strong></h2>
  <hr size=10 color=gray>
  <div id='top-list'>
    <ol>
      <% @movies.each do |movie|  %>
      <li>
        <%= "#{movie.title} (#{movie.year}) -- Rating: #{movie.imdb_score} "%><%= link_to ' 👉 ', movie_path(movie) %>
        <%= image_tag movie.photo, class:'img_top'%>
      </li>
      <hr size='6' color='#ADD8E6'>
      <% end %>
    </ol>
  </div>
</div>
