<div class='container'>
  <div class='card-body'>
    <ul>
      <% @directors.each do |director| %>
      <li><%= director.fullname %></li>
      <% if director.photo.attached?  %>
        <%= image_tag director.photo, class:'img_top' %>
      <% end %>
      <li><%= director.minibio %></li>
      <% end %>
    </ul>
  </div>
  <button id='#centered'><%= link_to 'Add Director', new_director_path %></button>
</div>
