<div class='container'>
  <div class='card-body'>
    <ul id='starList'>
      <% @directors.each do |director| %>
      <li><h2><%= director.fullname %></h2> </li>
      <hr>
      <% if director.photo.attached?  %>
        <%= image_tag director.photo, class:'img_top' %>
      <% end %>
      <li><b>Mini Bio: </b><%= director.minibio %></li>
      <% end %>
    </ul>
  </div>
</div>
