<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Canakin"><i class="fab fa-github" target="_blank"></i></a>
    <a href="https://www.instagram.com/cancimenser/"><i class="fab fa-instagram" target="_blank"></i></a>
    <a href="https://www.facebook.com/can.cimenser/"><i class="fab fa-facebook" target="_blank"></i></a>
    <a href="https://twitter.com/Can_Cimenser"><i class="fab fa-twitter" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/serdar-can-%C3%A7imenser-ba060456/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <em>This page was created by <strong>Canakin</strong>.</em>
  </div>
</div>
