.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#FAEBD7,#F0F8FF);
  height:100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 50%;
}

#nav-link {
  margin-left: 50px;
  margin-right: 50px;
  text-align:center;
  border:1px solid gray;
}
