.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#FAEBD7,#F0F8FF);
  height:160px;
  border-bottom:1px solid #DEB887;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  border-radius: 50%;
}

#nav-link {
  margin-left: 60px;
  margin-right: 60px;
  text-align:center;
  border:1px solid gray;
}

.nav-link {
  margin-left: 40px;
  font-size: 15px;
}
